.container {
    width: auto;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.top {
    width: inherit;
    height: 100px;
    margin: 0 auto;
}
.navbar {
    width: inherit;
    height: inherit;
    color: white;
    display: flex;
    justify-content: center;
}
.main {
    width: inherit;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.black-box {
    width: inherit;
    height: 250px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left-keys {
    width: 350px;
    height: inherit;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 2;
    position: relative;
}
.right-keys {
    width: 500px;
    height: inherit;
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 2;
    position: relative;
}
.black-keys {
    width: 150px;
    height: 200px;
    background-color: black;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
}
.white-box{
    width: inherit;
    height: 200px;
    margin-top: -150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}
.white-keys {
    width: 170px;
    height: 200px;
    border-radius: 25px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn-next{
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.btn-take-quiz{
    width: inherit;
    display: flex;
    justify-content: flex-end;
}
#doghouse{
    position: absolute;
}
#bungalow{
    position: absolute;
    width: 220px;
}
#dog{
    height: 67px;
    width: 67px;
    margin-bottom: 60px;
    margin-right: 20px;
}
#surpriseddog{
    height: 67px;
    width: 67px;
    margin-left: 50px;
}