.container {
    width: 100%; 
    height: 100px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.top {
    width: 100%;
    height: 15%;
    margin: 0 auto;
}
.navbar {
    background-color:#8CDEEB;
    width: inherit;
    height: inherit;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}
.main {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top-text{
    margin-top: 5%;
}

#parrot {
    width: 20%; /* Use a percentage-based width */
    height: auto; /* Let the height adjust based on the aspect ratio */
    border-radius: 50%;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .navbar {
        height: auto; 
        background-color: #8CDEEB; /* Add the background color for the navbar */
    }
    
    .navbar-brand {
        width: 100%; /* Make the brand/logo fill the width */
        height: 7%;
        text-align: center; /* Center the brand/logo */
    }
    
    .navbar-toggler {
        margin-left: auto; /* Move the toggler to the right side */
    }
    
    .collapse.navbar-collapse {
        position: static; /* Remove the absolute position to allow normal flow */
        background-color: transparent; /* Make the background transparent */
        width: 100%; /* Make the collapsed menu full width */
        text-align: center; /* Center the menu items */
    }
    
    .navbar-nav {
        flex-direction: column; /* Stack the menu items vertically */
        align-items: center; /* Center align the menu items */
    }
    
    .nav-link {
        padding: 0.5 rem 1rem; /* Add padding for touch-friendly areas */
    }
    .main{
        margin-top: 50px;
    }
    #top-text{
        margin-top: 5%;
    }
}
