.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
}

.profile-image-pic{
    height: auto;
    width: 60%;
    object-fit: cover;
}

.cardbody-color{
    background-color: #ebf2fa;
    text-decoration: none;
}

