.container {
    width: auto;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.top {
    width: inherit;
    height: 100px;
    margin: 0 auto;
}
.navbar {
    width: inherit;
    height: inherit;
    color: white;
    display: flex;
    justify-content: center;
}
.main {
    width: inherit;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.main-box{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px}
#parrot{
    width: 70px;
    height: 50px;
    border-radius: 50%;
}
