<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Your Keys</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://unpkg.com/tone"></script>
</head>
<body>
    <div class="container">
        <div class="top">
            <nav class="navbar fixed-top navbar-expand-lg" style="background-color:#8CDEEB" >
                <a class="navbar-brand" href="/dashboard">
                    <img src="{%static 'img\Piano-Parrot_Final-RGB.png' %}" class='logo ms-5' width="320" height="100" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active px-4 fs-4" aria-current="page" href="/profile">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active px-4 fs-4" href="/tutorial/index">Tutorials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active px-4 fs-4" href="/quiz/main">Quizzes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active px-4 fs-4" href="/lessons">Schedule a Lesson</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active px-4 fs-4" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="main">
            <div class="text-box"></div>
            <h2 class="text-center" id="top-text">To recap: Sharps (#) go to the next black key <strong>higher</strong> than the white key, <br>
                                                    Flats (♭) go the lower black key. This also means each black key has two different names!</h2>
            <div class="black-box">
                <div class="left-keys">
                    <div class="black-keys" id="Db4"></div>
                    <div class="black-keys" id="Eb4"></div>
                </div>
                <div class="right-keys">
                    <div class="black-keys" id="Gb4"></div>
                    <div class="black-keys" id="Ab4"></div>
                    <div class="black-keys" id="Bb4">
                        <img src="{% static 'img/flat-tire.png' %}" alt="flat-tire" id="flat-tire"hidden>
                    </div>
                </div>
            </div>
            <div class="white-box">
                <div class="white-keys" id="C4"></div>
                <div class="white-keys" id="D4"></div>
                <div class="white-keys" id="E4"></div>
                <div class="white-keys" id="F4"></div>
                <div class="white-keys" id="G4"></div>
                <div class="white-keys" id="A4"></div>
                <div class="white-keys" id="B4"></div>
                <div class="white-keys" id="C5"></div>
            </div>
            <div>
            <h2 class="text-center" id="bottom-text">Try to figure out both names of each black key.<br>
                                                    When you think you have them all, try out the quiz!</h2>
            </div>
            <div class="btn-next">
            <a class="btn btn-primary" href="1" role="button" id="btn-prev"><</a>
            <a class="btn btn-primary" href="/quiz/bkeys" role="button" id="btn-next" >Take Quiz</a>
        </div>        </div>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/scripts_bkspec.js'%}"></script>
</body>
</html>