<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style_i.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>Welcome to Piano Parrot!</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Login</h2>
                <div class="card my-5">
                    <form action ="login" method="post" class="card-body cardbody-color p-lg-5">
                        <div class="text-center">
                            <img src="{%static 'img/Piano-Parrot_Final-RGB.png'%}" class="img-fluid profile-image-pic my-3" alt="profile">
                        </div>
                        {% csrf_token%}
                        <div class="mb-2"><input type="email" name="email" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="Email Address"></div>
                        {% for message in messages %}
                            {% if "email" in message.tags %}
                                <p class="text-danger">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                        <div class="mb-2"><input type="password" name="password"class="form-control" id="password" placeholder="Password"></div>
                        {% for message in messages %}
                            {% if "password" in message.tags %}
                                <p class="text-danger">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                        <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
                        <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not Registered? <a href="/register" class="text-dark fw-bold"> Create an Account</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>